<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        CRUD Angular
    </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/cliente">Clientes</a>
        <a class="dropdown-item" routerLink="/material">Materiais</a>
      </div>

  </div>
</nav>

<div class="container-fluid">

  <router-outlet></router-outlet>

</div>